body div {margin: 0; padding: 0}
body {
	padding:0px;
	margin: 0 auto;
	min-width: 300px;
	max-width: 620px;
}
.main {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.level {
	position: relative;
	width: 100%;
	height: 200px;
}
.text {
	width:100%;
	height:100%;
	background: #cccccc;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing:border-box;
}
.level_val {
	position: absolute;
	box-sizing:border-box;
	width: 100%;
	height:200px;
	line-height: 200px;
	text-align: center;
	padding-left: 40%;
	vertical-align: middle;
}
.level_text {
	text-align: left;
	height:200px;
}

.pie {
	background: url("../images/level_pie.png") no-repeat;
	background-size: 134px 134px;
	width: 134px;
	height: 134px;
	position: absolute;
	border-radius: 50%;
	top:16%;
	left:5%;
}
.pie_left, .pie_right {
	width:134px; 
	height:134px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(0deg);
}
.left, .right {
	width:134px; 
	height:134px;
	background:#666666;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.pie_right, .right {
		clip:rect(0,auto,auto,67px);
}
.pie_left, .left {
		clip:rect(0,67px,auto,0);
}

.mask {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	left: 7px;
	top: 7px;
	background: #FFF;
	position: relative;
	text-align: center;
	line-height: 120px;
	font-size: 20px;
	font-family: Arial;
	color: #666666;
}
 ul {
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	margin-top: 65px;
	margin-left: 10px;
}
.level_val li {
	text-align: left;
	list-style: none;
	line-height: 30px;
	color:#666666
}
.level_val li span{
	font-family:arial;
}
#total{
	color:#66cc33;
}
#next_diff{
	color:#00cccc;
}
#level{
	display:block; 
	height:30px; 
	font-size:2.8rem; 
	position: absolute; 
	width:100%; 
	top: -10px;
}
#mylevel{
	display:inline-block;
	font-size:12px;
	margin-top:25px;
	text-align: center; 
	height:15px;
}
h2 {
	font-size: 20px;
	text-align: left;
	padding-bottom:10px;
	line-height: 10px;
	color: #666666;
}
.clear{ clear:both}
p {
	color: #666666;
	margin: 6px;
} 